<%= form_for @image_processing_request, :html => { :class => "form-horizontal image_processing_request", :multipart => true } do |f| %>

  <% if @image_processing_request.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@image_processing_request.errors.count, "error") %> prohibited this image_processing_request from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @image_processing_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :original_image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4">
      <img id='original_image_preview' style='width: 100%; height: auto;'>
      <%= f.file_field :original_image, :class => 'form-control',
                                        :name => 'image_processing_request[original_image_attributes][image]',
                                        :accept => 'image/*' %>
    </div>
    <%=f.error_span(:original_image) %>
  </div>
  <div class="form-group">
    <%= f.label :command_string, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :command_string, :class => 'form-control' %>
    </div>
    <%=f.error_span(:command_string) %>
  </div>
  <div class="form-group">
    <%= f.label :callback_url, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :callback_url, :class => 'form-control' %>
    </div>
    <%=f.error_span(:callback_url) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                image_processing_requests_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script>
  $(document).ready(function() {
    var $originalImageField = $('#image_processing_request_original_image');
    var $originalImage = $('#original_image_preview');

    // Set image preview when you use the file field
    $originalImageField.change(function(event) {
      var file = this.files[0];
      var reader = new FileReader();

      reader.onloadend = function() {
        $originalImage.attr('src', reader.result);
      }

      reader.readAsDataURL(file);
    })
  });
</script>
