<%- model_class = ImageProcessingRequest -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class='table table-striped'>
  <tbody>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:id) %>:</strong></td>
      <td><%= @image_processing_request.id %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:original_image_id) %>:</strong></td>
      <td>
        <%= @image_processing_request.original_image_id %>
        <img id='original_image_preview' src='<%= @image_processing_request.original_image.try(:image).try(:url) %>' style='max-witdh: 320px; max-height: 320px; display: block;'>
      </td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:processed_image_id) %>:</strong></td>
      <td>
        <%= @image_processing_request.processed_image_id %>
        <img id='processed_image_preview' src='<%= @image_processing_request.processed_image.try(:image).try(:url) %>' style='max-witdh: 320px; max-height: 320px; display: block;'>
      </td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:processed) %>:</strong></td>
      <td><%= @image_processing_request.processed %></td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:command_string) %>:</strong></td>
      <td><%= @image_processing_request.command_string %></td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:callback_url) %>:</strong></td>
      <td><%= @image_processing_request.callback_url %></td>
    </tr>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
              image_processing_requests_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_image_processing_request_path(@image_processing_request), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              image_processing_request_path(@image_processing_request),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
